body, html {
    margin: 10;
    padding: 30;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('adminbackground.jfif'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 300px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-box {
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-box input:focus {
    outline: none;
    border-color: #007bff;
}

.login-btn {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-btn:hover {
    background: #0056b3;
}

.error {
    color: red;
    display: none;
}
